
  <% if @student.photo.attached? %>
    <%= image_tag @student.photo.variant(resize: "250x") %>
    <% #mini magick deu erro e não funcionou o .variant(resize). %>
  <%end%>

  <h1><%= @student.name %></h1>
  <h2>Detalhes:</h2>
  <p><%= @student.phone %> </p>
  <p><%= @student.email %> </p> 

  <% if @student.user == current_user %>
  <p>[<%= link_to  "Editar", edit_student_path %>] || [<%= link_to 'Excluir', student_path, method: :delete, data: {confirm: 'Excluir aluno?'} %>] </p>
  <%end%>
  <p>[<%= link_to 'Voltar', root_path %>]</p>
