
  <% if @student.photo.attached? %>
    <%= image_tag @student.photo.variant(resize: "250x") %>
    <% #mini magick deu erro e não funcionou o .variant(resize). %>
  <%end%>

  <h1><%= @student.name %></h1>
  <h2>Detalhes:</h2>
  <p><%= @student.phone %> </p>
  <p><%= @student.email %> </p> 

  <% if @student.user == current_user %>
  <p>[<%= link_to  "Editar", edit_student_path %>] || [<%= link_to 'Excluir', student_path, method: :delete, data: {confirm: 'Excluir aluno?'} %>] </p>
  <% end %>

  <% if user_signed_in? %>
    <%= form_tag add_list_student_path(@student), method: 'post' do %>
      <%= label_tag :list_id, "Lista" %>
      <%= select_tag :list_id, options_from_collection_for_select(@user_lists, :id, :title) %>
      <%= submit_tag 'Adicionar'%>
    <% end %>
  <% end %>
  
  <p>[<%= link_to 'Voltar', root_path %>]</p>
