<h1> Bem vindo ao sistema da escola</h1>

<% if user_signed_in? %>
  <p><%= link_to  "Cadastrar professor", new_teacher_path %></p>
  <p><%= link_to  "Cadastrar aluno", new_student_path %></p>
  <p><%= link_to  "Gerar cartão", new_card_path %></p>
<% end %>

<div id="alunos_destaque">
<h1>Alunos em destaque  <%= image_tag("star.png", :alt => "favicon") %> </h1>
<% counter_fav = 0 %>
<% @students.each do |student| %>
  <% counter_fav = counter_fav + 1 %>
  <% if student.favorite? && counter_fav <= 6 %>
  <p>
    <%= link_to "#{student.name}", student_path(student.id) %> || 
    <%= student.email %> || 
      <% if user_signed_in? %>
        <%= link_to 'Excluir', student_path(student.id),   method: :delete, data: {confirm: 'Excluir aluno?'}%> 
        <%= link_to  'Editar', edit_student_path(student.id) %>
        <% #lógica para favoritar e desfavoritar %>
        <% if student.favorite? %>
          <%= link_to 'Desfavoritar', favorite_student_path(student.id), method: :delete %>
        <% else %>
          <%= link_to 'Favoritar', favorite_student_path(student.id) %>
        <% end %>
     <% end %>
  </p>
  <%end%>
<%end%>
</div>

<div id="ultimos_alunos">
<h1>Últimos alunos cadastrados</h1>
<% counter = 0 %>
<% @students.reverse_each do |student| %>
  <% counter = counter + 1 %>
  <% if !student.favorite? && counter <= 6 %>
    <p> 
    <%= link_to "#{student.name}", student_path(student.id) %> || 
    <%= student.email %> ||
    <% if user_signed_in? && current_user == student.user %>
      <%= link_to 'Excluir', student_path(student.id), method: :delete,
      data: {confirm: 'Excluir aluno?'}%>
      <%= link_to  'Editar', edit_student_path(student.id) %> 
      <% #lógica para favoritar e desfavoritar %>
      <% if student.favorite? %>
        <%= link_to 'Desfavoritar', favorite_student_path(student.id), method: :delete %>
      <% else %>
        <%= link_to 'Favoritar', favorite_student_path(student.id) %>
      <% end %>
    <% end %>
    </p>
  <% end %> 
<% end %>
</div>
<br>
<p> <%= link_to  "Todos os alunos", students_path %> </p>
