<h1> Bem vindo ao sistema da escola</h1>

<p><%= link_to  "Cadastrar professor", new_teacher_path %></p>
<p><%= link_to  "Cadastrar aluno", new_student_path %></p>
<p><%= link_to  "Gerar cartão", new_card_path %></p>

<br>


<br>
<h1>Alunos</h1>
<%= form_tag root_path, method: 'get' do %>
<%= label_tag :search_student, 'Buscar aluno' %>
<%= text_field_tag :search_student, params[:search_student]%>
<%= submit_tag 'Enviar aluno' %>
<% end %>
<p><%= flash[:alert_student] %></p>
<br>
<% @students.each do |student| %>
 <p><%= link_to "#{student.name}", student_path(student.id) %> || <%= student.email %> || [<%= link_to 'Excluir', student_path(student.id), method: :delete , data: {confirm: 'Excluir aluno?'}%>] [<%= link_to  "Editar", edit_student_path(student.id) %>] </p>
<% end %>

<br>
<h1>Professores</h1>
<%= form_tag root_path, method: 'get' do %>
<%= label_tag :search_teacher, 'Buscar professor' %>
<%= text_field_tag :search_teacher, params[:search_teacher]%>
<%= submit_tag 'Enviar professor' %>
<% end %>
<p><%= flash[:alert_teacher] %></p>
<br>
<% @teachers.each do |teacher|%>
  <p><%= link_to  "#{teacher.name}", teacher_path(teacher.id) %></p>
<%end%>