<!DOCTYPE html>
<html>
  <head>
    <title>SistemaEscola</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= form_tag search_students_path, method: 'get' do %>
      <%= label_tag :search_student, 'Buscar aluno' %>
      <%= text_field_tag :search_student%>
      <%= submit_tag 'Enviar aluno' %>
    <% end %>
    <p><%= flash[:alert_student] %></p>
    <%= yield %>
  </body>
</html>
