<!DOCTYPE html>
<html>
  <head>
    <title>SistemaEscola</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if user_signed_in? %>
        <p><%= 'Bem vindo, ' + current_user.email %></p>
        <p> 
            <%= link_to  "HOME", root_path %>
            <%= link_to  'Sair', destroy_user_session_path, method: :delete %> 
            <%= link_to  "Meus alunos", my_students_path %>
            <%= link_to  "Minhas listas", lists_path %>
            <%= link_to  "Cartões", cards_path %>
        </p>
      <% else %>
        <p><%= link_to  "Entrar", user_session_path %></p>
      <% end %>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= form_tag search_students_path, method: 'get' do %>
      <%= label_tag :search_student, 'Buscar aluno' %>
      <%= text_field_tag :search_student%>
      <%= submit_tag 'Enviar aluno' %>
    <% end %>
    <p><%= flash[:alert_student] %></p>
    <%= yield %>
  </body>
</html>
